- content_for :header do
  = javascript_include_tag 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=' + google_maps_key + '&dummy=xxxx', 'geocode', 'tiny_mce/tiny_mce' 

%p
  = f.error_messages


%h2= t(".meeting_place")

%p
  %a{:name => 'addressAnchor'}
  = f.label :address, t(".venue.field.address")
  = f.text_field :address, :size=>60
  %span{:id => 'addressDialogue', :style => 'display:none'} 

%p
  = f.label :startdate, t(".venue.field.startdate")
  = datetime_select :event, :startdate 

%h2= t(".title")


%div{:class => 'tabbed_languages'}
  %div{:class=> 'tabs'}
    %div{:style => 'float:left; margin-right:16px;'}
      Sprache wählen:
    - @languages.each do |lang|
      - if lang==@current_language
        %div{:class=>'tab_active'}
          %img{ :src=> '/images/flags/' + lang + '.gif', :alt=>lang}
      - else
        %div{:class=>'tab_inactive'}
          %img{ :src=> '/images/flags/' + lang + '.gif', :alt=>lang}
          
  %div{ :class=>'content' }

    %p
      = f.label :tag_list, t(".name.field.themes")
      = f.text_field :tag_list, :size=>60, :autocomplete => "off"
      #event_tag_list_auto_complete.auto_complete{:style=>'display:none'}
    %p= t(".name.theme_hint")


    = render :partial => 'translation', :collection => @event.globalize_translations



%p
  = f.label :link, t(".information.field.link")
  = f.text_field :link, :size=>60

%p
  = f.label :organisation, t(".information.field.initiator")
  = select_tag 'event[organisation_id]', options_from_collection_for_select(@organisations, "id", "title", @event.organisation_id)

%h2= t(".hint.title")

%p= t(".hint.text")
